.container__form {
  height: 100dvh;
  max-height: 100dvh;
}

::ng-deep p-password>*,
::ng-deep p-password>* input {
  width: 100%;
}

::ng-deep p-password>* svg {
  cursor: url('/assets/click.png'), auto !important;
}

::ng-deep p-password>* svg:active {
  cursor: url('/assets/click2.png'), auto !important;
}

.form__buttons {
  display: inline-flex;
  display: flex;
  gap: .5rem;

  button {
    background-color:var(--primary-700); ;
    // take all available space
    flex-grow: 1;
  }

  .form__buttons--outlined {
    background-color: transparent;
    color: var(--primary-700);
    border: 1px solid;
  }

}
