::ng-deep .p-card-subtitle {
  margin-bottom: 0;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

::ng-deep .p-card-content {
  padding-top: 1rem;
  padding-bottom: 0rem;
}

::ng-deep .p-badge {
  min-width: 1.5rem;
}

::ng-deep .p-card-footer {
  padding-top: 1rem;
}

::ng-deep .p-card-footer {

  .p-button {
    display: block;
    width: 100%;

    &.p-button-outlined {
      color: var(--primary-900);
    }
  }

  .btn--participar .p-button {
    margin-top: .3rem;
  }

}

::ng-deep .p-confirm-dialog  i {
  padding-right: .5rem;
}
