@if (lottery()) {
<div class="">
  <h1 class="text-5xl">{{ lottery()?.name }}</h1>
  <p-divider></p-divider>
  <div class="grid justify-content-center">
    <section class="col-12 md:col-9">
      <!-- contenido -->
      <p class="text-lg">{{ lottery()?.description }}</p>

      <!-- fecha inicio -->
      <div class="flex flex-column sm:flex-row my-4">
        <p class="font-bold mr-3">
          Inicia el:
          <p-chip
            label="{{
              lottery()?.startDate | date : 'EEEE, MMMM d, y, h:mm a' : 'es-EC'
            }}"
          ></p-chip>
        </p>
        <p class="font-bold mt-2 sm:mt-0">
          Finaliza el:
          <p-chip
            label="{{
              lottery()?.endDate | date : 'EEEE, MMMM d, y, h:mm a' : 'es-EC'
            }}"
          ></p-chip>
        </p>
      </div>

      <!-- premio -->
      <div class="premio-principal col-12 lg:col-8 mx-auto">
        <h2>Premio principal</h2>
        <p>{{ lottery()?.prize }}</p>
      </div>

      <!-- participantes -->
      <app-list-participants [participants]="lottery()?.users!" />
    </section>

    <!-- buttons -->
    <section class="col-12 md:col-3">
      <button
        pButton
        pRipple
        label="Editar"
        icon="pi pi-pencil"
        class="block w-full bg-gray-400 border-gray-400 mb-2"
        [routerLink]="['/admin/dashboard/sorteo', this.lottery()?.id, 'editar']"
        routerLinkActive="router-link-active"
      ></button>
      <button
        pButton
        pRipple
        label="Eliminar"
        icon="pi pi-trash"
        class="block w-full bg-red-500 border-red-500"
        (click)="confirmDeleteLottery()"
      ></button>
    </section>
  </div>
</div>
}
