<section class="container">
  <div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center">
      <article>
        <span class="block text-6xl font-bold mb-1">Sorteos de</span>
        <div class="text-6xl text-primary font-bold mb-3">Devtalles.</div>
        <p class="mt-0 mb-4 text-700 line-height-4">Si eres un usuario del servidor de devtalles en Discord, entonces puedes participar y tener la posibilidad de
          <span class="text-primary font-bold font-italic">ganar</span> increíbles premios. Los sorteos son gestionados por el equipo de Devtalles.</p>

        <p-button
          pButton
          label="&nbsp; Buscar sorteos"
          type="button"
          class="mr-3 p-button-raised"
          icon="pi pi-check"
          [routerLink]="'/sorteos'"
        ></p-button>
      </article>
    </div>
    <div class="container-image col-12 md:col-6 overflow-hidden">
    </div>
  </div>
</section>
