<div
  class="container__form h-full flex flex-column justify-content-center align-items-center p-3 bg-primary-700"
>
  <div>
    <div class="hide-on-mobile flex justify-content-center align-items-center">
      <img class="pt-8" src="assets/hi.png" />
      <img src="assets/wink.png" />
    </div>
    <form class="p-4 border-round bg-white shadow-1">
      <div class="flex justify-content-center">
        <img src="assets/ISO DUO.png" alt="logo" width="80" />
      </div>
      <h1 class="text-center mt-2">Registro</h1>

      <div class="col-12 flex flex-column gap-2">
        <label for="email">Correo electrónico</label>
        <input
          pInputText
          id="email"
          placeholder="Ingrese su correo"
          [formControl]="emailControl"
        />
        @if (emailControl.invalid && emailControl.touched) {
        <small class="text-red-700 font-bold"> {{ errorMail }} </small>}
      </div>

      <div class="col-12 form__buttons">
        <button
          type="button"
          pButton
          pRipple
          label="Registrarse"
          (click)="registry()"
        ></button>
        <button
          type="button"
          pButton
          pRipple
          class="form__buttons--outlined"
          label="Iniciar Sesión"
          [routerLink]="['/admin/login']"
        ></button>
      </div>
    </form>
  </div>
</div>
