.dashboard__header,
.dashboard__content {
  margin-left: unset;
}

.dashboard__content {
  padding: 1rem;
  min-height: calc(100dvh - 62px);
}

/* modifcar tamaño Mayor a 960px */
@media screen and (min-width: 961px) {

  .dashboard__content,
  .dashboard__header {
    margin-left: 321px;
  }
}
